<%- include('../base') -%>

<header>
  <span class="logo">CLUBHOUSE, invites only</span>
  <div class="nav-links">
    <a class="nav" href="/">Home</a>
    <% if (currentUser) { %>
    <%= currentUser.email %>
    <% if (currentUser.status) { %>
    <a class="nav" href="/message/new">New message</a>
    <% } else { %>
    <a class="nav" href="/auth/confirm">Confirm your status</a>
    <% } %>
    <a class="nav" href="/auth/log-out">Log Out</a>
    <% } else { %>
    <a class="nav" href="/auth/sign-up">Sign Up</a>
    <a class="nav" href="/auth/log-in">Log In</a>
    <% } %>

  </div>
</header>

<main>
  <%- include('../partials/notification') %>