<%- include('../partials/header') %>

<h1><%= title %></h1>

<form method="post">

  <div class="input">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
  </div>

  <div class="input">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>

  <button>Log In</button>
</form>

<%- include('../partials/footer') %>