<%- include('../partials/header') %>

<h1><%= title %></h1>

<form method="POST">
  <label for="passcode">Secret passcode</label>
  <input type="text" name="passcode" id="passcode">
  <button>Try your luck</button>
</form>

<%- include('../partials/footer') %>